.container {
  display: grid;
  grid-template-columns: 23% 54% 23%;
  height: 100vh;
  width: 100vw;
}

.center {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left {
  grid-column: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  grid-column: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
.container {
  grid-template-columns: 100%;
  grid-template-rows: 25% 50% 25%;
}

.center {
  grid-column: 1/2;
  grid-row: 2/3;
}

.left {
  grid-column: 1/2;
  grid-row: 1/2;
  height: auto;
}

.right {
  grid-column: 1/2;
  grid-row: 3/4;
}

@media screen and (max-height: 758px) {
  .container {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
  }

  .center {
    display: none;
  }

  .left {
    grid-column: 1/2;
    grid-row: 1/2;
    height: auto;
  }
  
  .right {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
}

