$boardColor: rgba(0, 0, 0, 0.755);

.smallContainer {
  height: 247px;
  width: 90%;
  background-color: blue;
}

.mediumContainer {
  width: 90%;
  height: 329px; 
  background-color: blue;
}

.container {
  width: 90%;
  height: 411px; 
  // background-color: $boardColor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messages {
  height: 91%;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  background-color: $boardColor;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.messageCreation {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.messageInput {
  width: 85%;
  // border-top-left-radius: 15px;
  border-bottom-left-radius: 13px;
  // border-radius: 15px;
  background-color: $boardColor;
  color: white;
  padding: 8px;
  border: 0;
}

.messageInput:focus {
  outline: none;
}