$boardColor: rgba(0, 0, 0, 0.755);

.container {
  width: 90%;
  height: 411px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin messages {
  height: 91%;
  border-top-left-radius: 13px;
  background-color: $boardColor;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.lessThan10Messages {
  @include messages();
  border-top-right-radius: 13px;
}

.moreThan10Messages {
  @include messages();
}

.messageCreation {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.messageInput {
  width: 85%;
  border-bottom-left-radius: 13px;
  background-color: $boardColor;
  color: white;
  padding: 8px;
  border: 0;
}

.messageInput:focus {
  outline: none;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 70%;
    height: 90%; 
  }

  .messages {
    height: 80%;
  }
}