$goalBackgroundColor: rgba(0, 0, 0, 0.755);

.goalContainer {
    width: 40px;
    height: 329px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @mixin goal {
    width: 40px;
    height: 80px;
    background-color: $goalBackgroundColor;
    cursor: pointer;
  }
  
  .redGoal {
    @include goal();
    border: 1px dashed red;
  }

  .redGoal:hover {
    border: 1px solid red;
  }

  .greenGoal {
    @include goal();
    border: 1px dashed green;
  }

  .greenGoal:hover {
    border: 1px solid green;
  }

  .blueGoal {
    @include goal();
    border: 1px dashed blue;
  }

  .blueGoal:hover {
    border: 1px solid blue;
  }