.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 150px;
  min-height: 170px;
  border: 1px solid white;
  border-radius: 8px;
  overflow-y: auto;
}

.waitingFont {
  color: white;
  padding: 15px;
  font-size: 12px;
}

.noGamesFont {
  color: white;
  font-size: 18px;
}

.singleGame {
  width: 96%;
  height: auto;
  padding: 5px 0;
  margin: 3px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(255, 166, 0, 0.204);
  border-radius: 12px;
}

.singleGame:hover {
  border: 1px solid rgba(255, 166, 0, 0.524);
}

.descriptionGame {
  width: 96%;
  height: auto;
  padding: 7px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.descriptionItem {
  color: white;
  width: 24%;
  text-align: center;
}

.playerItem {
  color: white;
  width: 24%;
  text-align: center;
}

.borderSizeItem {
  color: white;
  width: 24%;
  text-align: center;
}

.rules {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 24%;
  text-align: center;
}

.joinButton {
  width: 24%;
  text-align: center;
}

i {
  color: white;
}